.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.btn-green{
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
}
.btn-green:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}
.btn-purple{
  background:purple;
  color:#fff;
  box-shadow:0 5px 0 #670167;
}
.btn-purple:hover{
  background:#670167;
  box-shadow:0 5px 0 #470047;
}
.btn-red{
  background:red;
  color:#fff;
  box-shadow:0 5px 0 #d20000;
}
.btn-red:hover{
  background:#d20000;
  box-shadow:0 5px 0 #b00000;
}
.btn-green:active, .btn-purple:active, .btn-red:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

.rdp{
    width: 100%;
    height: 60px;
    text-align: center;
    float: top;
    position: fixed;
    bottom: 0;
    left: 0;
    background: inherit;
}

.ftr{
    width: 100%;
    height: 60px;
    text-align: center;
    float: top;
    position: fixed;
    bottom: 0;
    left: 0;
    background: inherit;
}

.mn{
    width: 100%;
    height: 60px;
    text-align: center;
    float: top;
    position: fixed;
    bottom: 0;
    left: 0;
    background: inherit;
}